.header__link {
  display: block;
  height: 100%;
  padding: 0 20px;
  
  color: white;
  text-align: center;
  /* text-decoration: dashed; */
  letter-spacing: 0.25px;
  
  background-color: transparent;
  border: none;
  
  transition: background-color .2s;
  cursor: pointer;
}

.header__link:hover {
  background-color: #00000010;
}

.header__link:active {
  background-color: #00000030;
}